* {
    margin: 0px;
    padding: 0px;
}

section {
    background-color: rgb(201, 172, 172);
    display: inline-block;
}
p {
    color: blue;
    font-size: 20px;
    border: 1px solid black;
    margin-top: 5px;
    padding: 15px;
}
#contanier {
    align-items: center;
    display: flex;

}
h1 {
    color: green;
    font-size: 36px;
    text-align: center;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}
#s1 {
    padding: 1px 0px 15px 15px;
    padding-top: 0px;
    margin-top: 0px;
    margin: 15px;
    background-color: gray;
    text-align: center;
    border: 3px solid black;
}

#s2 {
    padding: 1px 0px 15px 15px;
    padding-top: 0px;
    margin-top: 0px;
    margin: 15px;
    background-color: gray;
    text-align: center;
    border: 3px solid black;
}

#s3 {
    padding: 1px 0px 15px 15px;
    padding-top: 0px;
    margin-top: 0px;
    margin: 15px;
    background-color: gray;
    text-align: center;
    border: 3px solid black;
}

h2 {
    color: white;
    text-align: right;
    margin-right: 0px;
    margin-top: 0px;
    justify-content: center;
}

span {
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 5px;
    text-align: center;
}
h2 :hover {
    cursor: pointer;
}


#sp1 {
    background-color: rgba(212, 31, 31, 0.781);
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    border: 1px solid black;
    
}

#sp2 {
    background-color: rgb(126, 29, 29);
    padding-top: 0px;
    margin-top: 0px;
    border: 1px solid black;
}

#sp3 {
    background-color: rgb(107, 99, 99);
    padding-top: 0px;
    margin-top: 0px;
    border: 1px solid black;
}


/*
@media (max-width: 800px) {}


@media (min-width: 1200px) {
    p {
        width: 80%;

    }

}

@media (orientation: portriat){}
@media screen {}
@media print
@media (min-width: 768px) and (max-width: 991px) {
    p {
        width: 80%;

    }

}
@media (max-width: 767px) ,  (min-width: 992px) {
    p { width: 65%;

}
*/

@media screen and (max-width: 600px){
    #s1 {
        display: block;
        background-color: yellow;

    }
}

@media screen and (max-width: 600px){
    #s2 {
        display: block;
        background-color: yellow;

    }
}

@media screen and (max-width: 600px){
    #s3 {
        display: block;
        background-color: yellow;

    }
}
